doctype html
html(lang="en")
  head
    title Movie Review and Recommendation App
  body
    h1 Welcome to the Movie Review and Recommendation App!
    p Search for your favorite movies and get recommendations.
    a(href="/search") Search Movies
